<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="SCLOCVerse.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <userSettings>
    <SCLOCVerse.Settings>
      <setting name="LastAppVersion" serializeAs="String">
        <value />
      </setting>
      <setting name="GameFolder" serializeAs="String">
        <value />
      </setting>
      <setting name="UpdateChannel" serializeAs="String">
        <value>Stable</value>
      </setting>
      <setting name="UpgradeRequired" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="HangarOverlayX" serializeAs="String">
        <value>20</value>
      </setting>
      <setting name="HangarOverlayY" serializeAs="String">
        <value>20</value>
      </setting>
      <setting name="HangarOverlayScale" serializeAs="String">
        <value>0.6</value>
      </setting>
      <setting name="HangarOverlayOpacity" serializeAs="String">
        <value>0.92</value>
      </setting>
      <setting name="HangarCycleStartOverride" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="InputSystemBackend" serializeAs="String">
        <value>RawInput</value>
      </setting>
      <setting name="InputSystemDiagnostics" serializeAs="String">
        <value>False</value>
      </setting>
    </SCLOCVerse.Settings>
  </userSettings>
</configuration>